[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/FreeType"]
	path = external/FreeType
	url = https://gitlab.freedesktop.org/freetype/freetype.git
